.Postagem_container{
    width: 100%;
    height: 100vh;
}
.Postagem{
    max-width: 900px;
    height: 600px;
    margin: auto;
    margin-top: 100px;
}
.Commentarios{
    max-width: 400px;
    height: 20px;
    border: 1px solid #ccc;
    padding: 10px 20px;  
}
.enviar_bt{
    color: #ffff;
    width: 100px;
    border: 0;
    cursor: pointer;
    background-color:#4CAF50 ;
}
.enviar_bt:hover{
    background-color: #71ca74;
}

.commentarios-container{
    width: 100%;
    text-align: center;
}
.div-comments {
    display: flex;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.userName{
    color: #424274;
    background: #65659842;
    padding: 5px 10px;
    border-radius: 5px;
}
header{
    position: relative!important;
}